<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Security Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Security demo</h1>

    <header th:insert="fragments.html :: header"> </header>

    <p th:text="'Home'"/>

    <p>Main page and stuff</p>

    <a th:href="@{/login}">Log in</a>

    <footer th:insert="fragments.html :: footer"> </footer>

</body>
</html>