<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Security Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1>Security demo</h1>

    <header th:insert="fragments.html :: header"> </header>

    <p th:text="'Custom login page'"/>

    <form th:action="@{/doLogin}" method="POST">
        <input type="text" name="username" placeholder="username">
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <button type="submit">Login</button>
    </form>

    <footer th:insert="fragments.html :: footer"> </footer>
</body>

</html>